<header>
    <h1>{{title}}</h1>

    <!-- href points to app.js which will route the requests accordingly -->
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>